body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sidebar {
 /* max-width: 240px;*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: #212329;
  width: 4.5rem;
  height: 100vh; 
  color: white;
  /* transition: width 600ms ease;*/
}

.card {
  /* Add shadows to create the "card" effect */
  max-width: 330px;
  transition: 0.3s;
  margin: 1rem;
  border-radius: 5px;
  background: #4C4F64;
    transition-duration: .2s;

}
.card-title {
    font-size: 18.5px;
    color: #C8C8C8    ;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    font-weight: 600;

}
.card-content {
  font-size: 15px;
  color: #606060;
  overflow: hidden
}
.card-image {
  width: 100%;
  height: 10rem;
  border-radius: 5px;
}
.card-source {
  font-size: 14px;
  font-weight: 300;
  user-select: text;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  color: #9b999a;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
 transform: scale(1.02);
cursor: pointer;}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
    overflow: hidden;

}

.nav-item {
  padding: 1rem;
}