body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sidebar {
  /* max-width: 240px;*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: #212329;
  width: 4.5rem;
  height: 100vh;
  color: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);

  /* transition: width 600ms ease;*/
}
.sidebar-icon {
  color: #fff;
}
.card {
  /* Add shadows to create the "card" effect */
  z-index: 10;
  max-width: 330px;
  transition: 0.3s;
  margin: 1rem;
  border-radius: 5px;
  background: #212329;
  transition-duration: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.card-title {
  font-size: 18.5px;
  color: #c8c8c8;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.card-content {
  font-size: 15px;
  color: #606060;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: 10rem;
  border-radius: 5px;
}
.card-source {
  font-size: 14px;
  font-weight: 300;
  user-select: text;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  color: #9b999a;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  cursor: pointer;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
  overflow: hidden;
}

.nav-item {
  padding: 1rem;
}

.card-animate {
  transform: translateY(300px);
  animation: fallPerspective 0.5s ease-in-out forwards;
  visibility: visible;
  opacity: 1;
}

@keyframes fallPerspective {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.scroll-btn {
  width: 2.5rem;
  height: 2.5rem;
  background: yellow;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  margin: 0.65rem;
  background: #161719;
  color: #fff;
  box-shadow: 1px 2px 4px rgba(52, 58, 70, 0.54);
}
.scroll-btn-icon {
  font-size: 2rem !important;
  width: inherit !important;
  height: inherit !important;
}
.scroll-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(255, 142, 65) 0%,
    rgb(255, 116, 23) 53%
  );
  color: #fff;
}

.search-bar {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 100%;
  margin: 0.65rem;
  /* background:#161719;*/
  box-shadow: 1px 2px 4px rgba(52, 58, 70, 0.54);
  z-index: 100;
  background: #161719
    url(search_icon.svg) no-repeat
    0.5rem center;

  background-size: 1.5rem;
  outline: none;
  border: none;
  transition: all 0.6s ease-out;
  font-weight: bolder;
  letter-spacing: 0.1em;
  background-position:50%;
  color: transparent;
}
.search-bar:hover {
  cursor: pointer;
}
.search-bar:focus {
  width: 10rem;
  padding-left: 2.5rem;
  border-radius: 15rem;
  opacity: 1;
  color: #9b999a;
  background-position: .5rem;

}
input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
   font-family: "Inconsolata", monospace;

}

.landing-section {
  width: 100vw;
  height: 100vh;
  background: #2a2e35;
  display:flex;
  align-items: center;
  justify-content: center;
}

.landing-card-section {
  width: 50rem;
 /* height: 25rem;*/
  background: #212329;
}
.landing-card-holder {
  outline: 1px solid black;
 /* height: 80%;
  width: 95%;*/
  margin:auto;
  margin-top: 1rem;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}
.landing-card {
  width: 8rem;
  height: 5rem;
  margin: .5rem;
  background: white;
  color:black;
    display:flex;
  align-items: center;
  justify-content: center;
 /*  transition: transform .2s;*/ 
backface-visibility: hidden;
border-radius: .1rem;
border: 1px solid grey;
}
.landing-card:hover {
  /*transform: scale(1.05);
 backface-visibility: hidden;*/
  cursor: pointer;
  background: #e68443;
}